# Dependencies
node_modules/

# Build output
dist/
*.tsbuildinfo

# Env files
.env
.env.*
!.env.example

# Vercel
.vercel/

# Logs
*.log
npm-debug.log*

# OS junk
.DS_Store
Thumbs.db

# Editor
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.idea/
